<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Get The Browser/User Agent Of The User In Flask</h3>
      </div>
      <hr/>
      <div>
        <strong>Your User-Agent string is:</strong> {{userAgentString}}<br /><br/>
        We also have available the user agent object (request.user_agent), with the following properties and values:
<pre>
<ul>
<li><strong>You IP address is:</strong> {{user_ip}}</li>
<li><strong>user_agent.platform:</strong> {{user_agent.platform}}</li>
<li><strong>user_agent.browser:</strong> {{user_agent.browser}}</li>
<li><strong>user_agent.version:</strong> {{user_agent.version}}</li>
<li><strong>user_agent.language:</strong> {{user_agent.language}}</li>
<li><strong>user_agent.string:</strong> {{user_agent.string}}</li>

<li><strong>Time:</strong> {{timestamp.format('YYYY-MM-DD HH:mm:ss')}}</li>

</ul>        
</pre>
<hr/>    

      </div>
    </div>
  </body>
</html>